[Unit]
Description=Systemd unit for Autotouchpad
After=graphical.target
Requires=graphical.target

[Service]
Type=idle
ExecStart=/usr/share/autotouchpad/autotouchpad.sh startup

[Install]
WantedBy=graphical.target
